$font-family-cc-body: "freight-sans-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-family-cc-headings: "ratio", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-family-base: $font-family-cc-body;
$headings-font-family: $font-family-cc-headings;

$font-weight-normal: 500;
$headings-font-weight: 500;

$navbar-dark-color: rgba($white, .8);
